DATABASE_URL=postgres://things_service:things12345@localhost:5432/things_rust?options=-c%20search_path%3Dthings

POSTGRES_HOST_RST=things
POSTGRES_PORT_RST=5432
POSTGRES_DB_RST=things_rust
POSTGRES_USERNAME_RST=things_service
POSTGRES_PASSWORD_RST=ХХХХХХХХХХХХ
POSTGRES_SCHEMA_RST=things
SQLX_OFFLINE=true
